// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin animation($arg){
    // -webkit-animation: $arg;
    // -moz-animation: $arg;
    // -o-animation: $arg;
    animation: $arg;
}
@mixin keyframes($animationName) {
    // @-webkit-keyframes #{$animationName} {
    //     @content;
    // }
    // @-moz-keyframes #{$animationName} {
    //     @content;
    // }
    // @-o-keyframes #{$animationName} {
    //     @content;
    // }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin bg-fill ($align...) {
    background:{
        repeat: no-repeat !important;
        position: $align !important;
        size: cover;
    }
}
@mixin pulse { //
    @include keyframes( pulse ) {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
    }
    @include animation (pulse 2s infinite);
}

@mixin opacity($alpha){
    opacity: $alpha;
}
@mixin container-pad() {
    // padding: 5.5vw 4vw;
    padding: 2rem 1rem; // any rows & cols should handle padding at small viewports. - AW
}
@mixin link-border ($color) {
    // color: $color;
    $duration: $global-timing * 1;
    border-bottom: 2px solid transparentize($color, 1);
    -webkit-transition: border $duration;
    -moz-transition:    border $duration;
    -ms-transition:     border $duration;
    -o-transition:      border $duration;
    transition:         border $duration; 
    &:hover {
        text-decoration: none;
        border-bottom: 2px solid $color;
    }
}